@import 'config';

.label-container {
   &--right {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-template-areas: 'children label';
      background-color: white;
      border-radius: 3px;

      .label {
         grid-area: label;
         padding: 0 $grid;
         display: grid;
         align-content: center;
         border-radius: 3px 0 0 3px;
      }

      .children {
         grid-area: children;
      }
   }

   &--left {
      display: grid;
      grid-template-columns: auto 1fr;
      background-color: white;
      border-radius: 3px;

      .label {
         color: $silver-chalice;
         font-size: $font-l;
         padding: 0 $grid;
         display: grid;
         align-content: center;
         border-radius: 3px 0 0 3px;

         &--dark {
            background-color: $porcelain;
         }
      }

      &.no-label {
         grid-template-columns: 1fr;
      }
   }

   &--top {
      .label {
         line-height: $grid * 3;
         font-size: $font-s;
      }
   }
}

.error {
   box-shadow: 0 0 0 2px $red;
   border-radius: 3px;
}
