@import 'config';

.label-container {
   &--left {
      display: grid;
      grid-template-columns: max-content 1fr;
      background-color: white;
      border-radius: 3px;
      overflow: hidden;

      .label {
         color: $silver-chalice;
         font-size: $font-l;
         padding: 0 $grid;
         display: grid;
         align-content: center;

         &--dark {
            background-color: $iron;
         }
      }
   }

   &--top {
      .label {
         line-height: $grid * 3;
         font-size: $font-s;
      }
   }
}
