@import 'config';

.container {
   display: grid;
   grid-gap: $grid * 2;
}

.options-container {
   display: grid;
   grid-template-columns: 1fr max-content;
   grid-gap: $grid * 2;

   .more-options {
      color: $orange;
   }

   .options {
      grid-column: 1 / span 2;
      display: grid;
      grid-gap: $grid;
      grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));

      .icon {
         padding: 0 8px;
      }
   }
}
