{
   "extends": [
      "react-app",
      "plugin:react/recommended",
      "plugin:prettier/recommended",
      "plugin:import/errors",
      "prettier/react"
   ],
   "rules": {
      "react/require-default-props": "error"
   }
}
