@import 'config';

.booking-steps {
   display: grid;
   grid-template-columns: 1fr repeat(2, max-content);
   grid-gap: $grid * 2;

   .booking-step {
      display: grid;
      grid-template-columns: repeat(2, max-content);
      grid-gap: $grid;
   }
}

.step-number {
   font-size: $font-l;
   font-weight: bold;
   line-height: 25px;
   color: $river-bed;
   width: 25px;
   height: 25px;
   border: 3px solid $river-bed;
   border-radius: 16px;
   text-align: center;
}

.step-label {
   align-self: center;
   font-size: $font-s;
}

@media screen and (min-width: 980px) {
   .booking-steps {
      grid-template-columns: repeat(3, max-content);
      grid-gap: $grid * 3;
      justify-content: center;
   }
}
