$grid: 8px;

$bp-desktop: 980px;

// http://chir.ag/projects/name-that-color/
$orange: #ff4800;
$red: #f33e39;
$iron: #d2d6da;
$silver-chalice: #a8a8a8;
$river-bed: #4a575f;
$mako: #3f454d;
$tundora: #4c4c4c;
$ebony-clay: #1e2731;

$font-xs: 12px;
$font-s: 14px;
$font-m: 16px;
$font-l: 20px;
$font-xl: 26px;

$font-regular: 400;
$font-bold: 600;
