@import 'config';

.label {
   &--left {
      display: grid;
      grid-template-columns: max-content 1fr;
      background-color: white;
      border-radius: 3px;

      .label-name {
         color: $silver-chalice;
         font-size: $font-l;
         padding: 0 $grid;
         line-height: $grid * 6;
      }
   }

   &--top {
      .label-name {
         line-height: $grid * 3;
         font-size: $font-s;
      }
   }
}
