@import 'config';

.container {
   display: grid;
   grid-template-columns: 1fr 120px;
   grid-gap: $grid * 2;
}

.small-screen {
   grid-template-columns: 1fr;
}

.clock-icon,
.calendar-icon {
   color: $orange;
   width: 24px;
   height: 24px;
   margin-right: 4px;
}

.days-container {
   display: grid;
   grid-template: $grid * 6 / repeat(3, 1fr) auto;
   grid-gap: $grid;
   align-items: center;
   background-color: white;
   border-radius: 3px;
   padding: 0 $grid;

   input[type='radio'] {
      display: none;
   }

   .day-container {
      display: grid;
      color: $tundora;
      align-content: center;
   }

   .date {
      font-size: $font-xs;
      font-weight: $font-extra-bold;
      line-height: $grid * 2;
   }

   .day {
      font-size: $font-s;
      line-height: $grid * 2;
   }

   .active {
      border-left: 2px solid $orange;
      position: relative;
      height: $grid * 4;
      padding-left: $grid;

      .date {
         color: $orange;
      }
   }

   .active::before {
      content: '';
      position: absolute;
      height: 4px;
      width: 4px;
      display: block;
      border-left: 2px solid $orange;
      border-top: 2px solid $orange;
      background: white;
      top: calc(50% - 3px);
      left: -3px;
      transform: rotate(135deg);
   }

   .calendar-container {
      display: grid;
      align-items: center;
      grid-auto-flow: column;
      cursor: pointer;

      &::before {
         content: '';
         height: 32px;
         border-left: 1px solid #cccccc;
         position: relative;
         right: 9px;
         top: 0px;
         display: block;
         float: left;
      }
   }

   .date-picker {
      display: none;
   }

   .popper {
      left: -30px !important;
   }
}
