@import 'config';

.summary {
   display: grid;
   grid-template-rows: max-content;
   grid-gap: $grid * 3;
   background-color: $ebony-clay;
   padding: $grid * 5;
   width: max-content;
}

.summary-list {
   display: grid;
   grid-gap: $grid * 2;
   font-size: $font-s;
}

.label {
   color: $silver-chalice;
}

.voucherLabel {
   color: $orange;
}

.header {
   font-size: $font-xl;
}
