@import 'config';

.summary {
   display: grid;
   grid-template-rows: max-content;
   grid-gap: $grid * 3;
   background-color: $ebony-clay;
   padding: $grid * 5;
   align-self: start;
}

.summary-list {
   display: grid;
   grid-gap: $grid * 2;
   font-size: $font-s;
}

.label {
   color: $silver-chalice;
   margin-bottom: $grid;
   margin-right: $grid;
}

.voucherLabel {
   color: $orange;
}

.header {
   font-size: $font-xl;
}

.horizontal {
   grid-template-columns: repeat(auto-fill, minmax(130px, max-content));
   grid-gap: $grid * 2;

   .booking-value {
      display: grid;
      grid-template-columns: max-content auto;
      line-height: 20px;
   }
}
