@import 'config';

.app {
   background-color: $iron;
   min-height: 100vh;
   width: 100vw;
}

.header {
   display: grid;
   grid-template-rows: 36px;
   align-items: center;
   background-color: $mako;
   padding: 0 $grid * 2;
}

.talixo-logo {
   width: 123px;
   height: 22px;
}

.content-container {
   display: grid;
   grid-template-columns: minmax(min-content, $bp-desktop);
   grid-gap: $grid * 3;
   max-width: $bp-desktop;
   background-color: $ebony-clay;
   margin: 0 auto;
   padding: $grid * 2;
   color: white;
   font-size: $font-m;
}

@media screen and (min-width: $bp-desktop) {
   .header {
      grid-template-columns: 1fr $bp-desktop 1fr;
      grid-template-areas: '. logo .';
      background-color: $mako;
   }

   .talixo-logo {
      grid-area: logo;
   }

   .content-container {
      background-color: $mako;
      padding: $grid * 5;
   }
}
